<footer class="bg-[#1B3C01]/60 backdrop-blur-2xl p-4 relative bottom-0 w-[calc(100vw-4rem)] ml-16 md:w-4/5 md:ml-[20%] lg:w-5/6 lg:ml-[16.666%] xl:w-6/7 xl:ml-[14.259%] text-center border-t border-l-[#C3CEA3] border-t-[#C3CEA3]">
  <aside>
    <p class="text-white">Copyright © <script>document.write(new Date().getFullYear());</script> - Tous droits réservés par Didier Piroille</p>
  </aside>
</footer>