<footer class="flex-shrink-0 bg-[#1B3C01]/60 backdrop-blur-2xl py-4 w-full text-center">
  <aside>
    <p class="text-white">Copyright © <script>document.write(new Date().getFullYear());</script> - Tous droits réservés par Didier Piroille</p>
  </aside>
</footer>
