<footer class="bg-[#1B3C01]/60 backdrop-blur-2xl py-4 px-6 w-full text-center">
  <p class="text-white text-sm">Copyright © <script>document.write(new Date().getFullYear());</script> - Tous droits réservés par Didier Piroille</p>
</footer>
