<footer class="bg-[#1B3C01]/60 backdrop-blur-2xl p-4 relative bottom-0 w-full ml-0 lg:w-5/6 lg:ml-[16.666%] xl:w-6/7 xl:ml-[14.259%] 2xl:w-7/8 2xl:ml-[12.5%] text-center border-t border-l-[#C3CEA3] border-t-[#C3CEA3]">
  <aside>
    <p class="text-white">Copyright © <script>document.write(new Date().getFullYear());</script> - Tous droits réservés par Didier Piroille</p>
  </aside>
</footer>