<header class="sticky top-0 z-50">
    <nav class="bg-[#C3CEA3]/60 backdrop-blur-2xl border-green-200 px-4 py-2">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <!-- Logo -->
            <a href="/login" class="flex items-center">
                <img src="/assets/images/Logo_final_sans_blanc.png" class="h-12 sm:h-14" alt="Logo" />
                <span class="text-green-900 text-xl sm:text-2xl font-semibold ml-2">ArboTrack</span>
            </a>

            <!-- Mobile menu button -->
            <button data-collapse-toggle="mobile-menu" type="button" class="md:hidden inline-flex items-center p-2 text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 5h14a1 1 0 010 2H3a1 1 0 010-2zm0 4h14a1 1 0 010 2H3a1 1 0 010-2zm0 4h14a1 1 0 010 2H3a1 1 0 010-2z" clip-rule="evenodd"></path>
                </svg>
            </button>

            <!-- Links -->
            <div class="hidden w-full md:flex md:w-auto md:items-center" id="mobile-menu">
                <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0">
                    <li><a href="/login" class="block py-2 px-4 text-green-800 hover:bg-green-50 rounded">Home</a></li>
                    <li><a href="#" class="block py-2 px-4 text-green-800 hover:bg-green-50 rounded">Professionnel</a></li>
                    <li><a href="#" class="block py-2 px-4 text-green-800 hover:bg-green-50 rounded">Particulier</a></li>
                    <li><a href="#" class="block py-2 px-4 text-green-800 hover:bg-green-50 rounded">Contact</a></li>
                </ul>
            </div>

            <!-- Buttons -->
            <div class="hidden md:flex space-x-4">
                <a href="/login" class="text-green-800 hover:bg-green-50 font-medium rounded-lg text-lg px-4 py-2">Connection</a>
                <a href="/register" class="text-green-800 hover:bg-green-50 font-medium rounded-lg text-lg px-4 py-2">Inscription</a>
            </div>
        </div>
    </nav>
</header>
