<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Découvrez notre application de gestion arboricole pour un suivi simple et efficace de vos propriétés, arbres, maladies et traitements.">
		<meta name="robots" content="index, follow">
		<meta name="author" content="Didier Piroille">
		<meta property="og:title" content="ArboTrack - Gestionnaire Arboricole">
		<meta property="og:description" content="Gérez facilement votre patrimoine arboré : propriétées, arbres, interventions.">
		<meta property="og:image" content="https://arbotrack.fr/assets/images/arbotrack.jpg">
		<meta property="og:url" content="https://arbotrack.fr">
		<meta property="og:type" content="website">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="ArboTrack - Gestionnaire Arboricole">
		<meta name="twitter:description" content="Gérez facilement votre patrimoine arboré : propriétées, arbres, interventions.">
		<meta name="twitter:image" content="https://arbotrack.fr/assets/images/arbotrack.jpg">
		<link rel="canonical" href="https://arbotrack.fr">
		<link rel="stylesheet" href="/assets/css/tailwind.css">

		{% block title %}{% endblock %}
		{% block style %}{% endblock %}

		</head>
		<body>
			{% if not isMainPage %}
				{% include '../partials/header.html.twig' %}
				{% include '../partials/toast.html.twig' %}
				{% block main %}{% endblock %}
				{% include '../partials/footer.html.twig' %}
			{% else %}
				{% include '../partials/sidebar.html.twig' %}
				{% include '../partials/toast.html.twig' %}
				{% block main %}{% endblock %}
				{% include '../partials/modalUser.html.twig' %}
				{% include '../partials/modalProperty.html.twig' %}
				{% include '../partials/modalSector.html.twig' %}
				{% include '../partials/modalTree.html.twig' %}
				{% include '../partials/modalHistory.html.twig' %}
				{% include '../partials/modalComment.html.twig' %}
				{% include '../partials/footer-2.html.twig' %}
			{% endif %}


			{% block script %}{% endblock %}

		</body>
	</html>
