:root {
    --sidebar-width-mobile: 50vw;
    --sidebar-width-desktop: 25vw;
}

body {
    background-image: url("/assets/images/fond.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#mobile-menu-toggle {
    transition: transform 0.3s ease-in-out;
}

.sidebar-open #mobile-menu-toggle {
    transform: translateX(calc(var(--sidebar-width-mobile) - 2.5rem));
}

@media (min-width: 640px) {
    .sidebar-open #mobile-menu-toggle {
        transform: translateX(calc(var(--sidebar-width-desktop) - 2.5rem));
    }
}