{% extends "../layouts/base.html.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/main.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	<main class="flex flex-col gap-8 w-full ml-0 lg:w-4/5 lg:ml-[20%] xl:w-5/6 xl:ml-[16.666%] 2xl:w-7/8 2xl:ml-[12.5%] min-h-[calc(100vh-3.5rem)] bg-[#50693C]/50 backdrop-blur-xs px-3 md:px-16 lg:px-24 xl:px-32 py-8">
		<section>
			<div class="w-full flex items-center justify-center">
				<h2 class="text-white text-xl md:text-2xl lg:text-4xl text-center bg-[#1B3C01]/60 backdrop-blur-2xl shadow-lg rounded-lg px-2 py-1">Encyclopédie des arbres</h2>
			</div>
		</section>
		<section>
			<div class="flex mx-auto p-3 lg:p-6 bg-[#1B3C01]/60 backdrop-blur-2xl shadow-lg rounded-lg">
				<div class="flex justify-center items-center w-full h-100 bg-[#C3CEA3]/30 backdrop-blur-3xl space-y-6 shadow-lg rounded-lg p-2 lg:p-4">
					<p class="text-6xl text-white">Bientôt Disponible</p>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
{% block script %}
	<script src="/assets/js/sidebar.js"></script>
	<script src="/assets/js/modal.js"></script>
	<script src="/assets/js/main.js"></script>
{% endblock %}
